  <body>
    <div class="profile">
      <div class=".profile__intro flex justify-between px-6 pt-4 pb-2.5">
        <div class="profile-name flex flex-col justify-center">
          <div class="name__realname">
            <h1
              class="realname text-[#f3f5f7] text-xl font-bold leading-[30px] font-sans cursor-pointer"
            >
              {{user.fullname}}
            </h1>
          </div>
          <div class="name__nickname">
            <span
              class="nickname text-[#f3f5f7] font-normal leading-[21px] font-sans"
              >{{user.username}}</span
            >
          </div>
        </div>
        <div class="profile-avatar">
          <img
            src="{{user.avatar}}"
            alt="Avatar"
            class="cursor-pointer max-w-[84px] h-auto rounded-full object-cover outline outline-[0.5px] outline-gray-100/15"
          />
        </div>
      </div>
      <div class="profile-quote px-6">
        <span>{{user.quote}}</span>
      </div>

      <div class="follower-panel flex justify-between px-6 pt-4">
        <div class="number-follower cursor-pointer">
          <span
            class="hover:border-b-[1.5px] text-[#777777] text-[15px] font-normal  leading-[21px] hover-underline"
            onclick="displayFollowsPanel()"
            >{{followerCount}} followers</span>

          <div
            class="overall-follow-panel w-[90%] sm:w-[80%] md:w-[80%] lg:w-[33.33%]  absolute z-10 top-[20%] sm:left-[15%] md:left-[10%] lg:top-[25%] lg:left-[32.5%]  bg-[rgb(16,16,16)] rounded-lg border border-[rgba(243,245,247,0.15)] hidden">
            <div class="column-panel flex flex-row text-center border-b border-[rgba(243,245,247,0.15)]">
              <div
                class="list-follower text-[#777777] activated flex-1 cursor-pointer "
                onclick="chooseFollower()"
              >
                <span 
                  class="text-lg font-bold font-sans my-5"
                  >Followers</span
                >
                <br />
                <span
                  class="text-sm font-normal font-sans"
                  >{{followerCount}}</span
                >
              </div>
              <div
                class="list-following text-[#777777] flex-1 cursor-pointer"
                onclick="chooseFollowing()"
              >
                <span
                  class="text-lg font-bold font-sans my-5"
                  >Following</span
                >
                <br />
                <span
                  class="text-sm font-normal font-sans"
                  >{{followingCount}}</span
                >
              </div>
            </div>

            <div class="relative max-h-[30vh] list-of-follower overflow-y-auto hide-scrollbar" style="display: block;">
                {{#if (isGreaterThanZero followerCount)}}
                  {{#each followers}}
                    {{> follower}}
                  {{/each}}
                {{else}}
                  <li>
                    <div class="flex items-center justify-center mt-[15px] mb-[15px]">
                      <p class="text-2xl">There is no followers</p>
                    </div>                             
                {{/if}}

              </ul>
            </div>

            <div class="relative max-h-[30vh] list-of-following custom-scrollbar overflow-y-auto" style="display: none;">
              <ul>  
                {{#if (isGreaterThanZero followingCount)}}
                  {{#each followings}}
                    {{> follower}}
                  {{/each}}
                {{else}}
                  <li>
                    <div class="flex items-center justify-center mt-[15px] mb-[15px]">
                      <p class="text-2xl">There is no followings</p>
                    </div> 
                  </li>                                
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
        <div class="more-views flex items-center">
          <svg viewBox="0 0 24 24" class="svg-icon" width="24" height="24">
            <rect
              fill="none"
              height="20"
              rx="5"
              stroke="currentColor"
              stroke-width="2"
              width="20"
              x="2"
              y="2"
            ></rect>
            <rect
              fill="#FFFFFF"
              height="12"
              rx="1"
              width="2"
              x="11"
              y="6"
            ></rect>
            <rect
              fill="#FFFFFF"
              height="9"
              rx="1"
              width="2"
              x="15"
              y="9"
            ></rect>
            <rect
              fill="#FFFFFF"
              height="5"
              rx="1"
              width="2"
              x="7"
              y="13"
            ></rect>
          </svg>
          <svg
            viewBox="0 0 24 24"
            class="insta-icon ml-2.5"
            width="24"
            height="24"
          >
            <path
              fill="white"
              d="M12 2.982c2.937 0 3.285.011 4.445.064a6.087 6.087 0 0 1 2.042.379 3.408 3.408 0 0 1 1.265.823 3.408 3.408 0 0 1 .823 1.265 6.087 6.087 0 0 1 .379 2.042c.053 1.16.064 1.508.064 4.445s-.011 3.285-.064 4.445a6.087 6.087 0 0 1-.379 2.042 3.643 3.643 0 0 1-2.088 2.088 6.087 6.087 0 0 1-2.042.379c-1.16.053-1.508.064-4.445.064s-3.285-.011-4.445-.064a6.087 6.087 0 0 1-2.043-.379 3.408 3.408 0 0 1-1.264-.823 3.408 3.408 0 0 1-.823-1.265 6.087 6.087 0 0 1-.379-2.042c-.053-1.16-.064-1.508-.064-4.445s.011-3.285.064-4.445a6.087 6.087 0 0 1 .379-2.042 3.408 3.408 0 0 1 .823-1.265 3.408 3.408 0 0 1 1.265-.823 6.087 6.087 0 0 1 2.042-.379c1.16-.053 1.508-.064 4.445-.064M12 1c-2.987 0-3.362.013-4.535.066a8.074 8.074 0 0 0-2.67.511 5.392 5.392 0 0 0-1.949 1.27 5.392 5.392 0 0 0-1.269 1.948 8.074 8.074 0 0 0-.51 2.67C1.012 8.638 1 9.013 1 12s.013 3.362.066 4.535a8.074 8.074 0 0 0 .511 2.67 5.392 5.392 0 0 0 1.27 1.949 5.392 5.392 0 0 0 1.948 1.269 8.074 8.074 0 0 0 2.67.51C8.638 22.988 9.013 23 12 23s3.362-.013 4.535-.066a8.074 8.074 0 0 0 2.67-.511 5.625 5.625 0 0 0 3.218-3.218 8.074 8.074 0 0 0 .51-2.67C22.988 15.362 23 14.987 23 12s-.013-3.362-.066-4.535a8.074 8.074 0 0 0-.511-2.67 5.392 5.392 0 0 0-1.27-1.949 5.392 5.392 0 0 0-1.948-1.269 8.074 8.074 0 0 0-2.67-.51C15.362 1.012 14.987 1 12 1Zm0 5.351A5.649 5.649 0 1 0 17.649 12 5.649 5.649 0 0 0 12 6.351Zm0 9.316A3.667 3.667 0 1 1 15.667 12 3.667 3.667 0 0 1 12 15.667Zm5.872-10.859a1.32 1.32 0 1 0 1.32 1.32 1.32 1.32 0 0 0-1.32-1.32Z"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="config-profile-btn px-6 py-3 relative">
      <div class="profile-box border border-gray-100/15 px-4 py-2 text-center rounded-xl cursor-pointer">
        {{#if isOwnProfile}}
        <span class="font-semibold leading-[2rem]" onclick="window.location.href = '/profile/configProfile'">Edit profile</span>
        {{else}}
        {{#if status}}
        <span class="font-semibold leading-[2rem] text-[#333333]" id="{{user.id}}" onClick="clickFollow(event)">Following</span>
        {{else}}
        <span class="font-semibold leading-[2rem] text-[#F3F5F7]" id="{{user.id}}" onClick="clickFollow(event)">Follow</span>
        {{/if}}
        {{/if}}

      </div>
    </div>
    <div class="information-bar flex items-center justify-center h-[48px] text-[rgb(243,245,247)] text-[15px] font-[600] border-b-[0.8px] border-b-[rgba(243,245,247,0.15)]">
      <span>Threads</span>
    </div>

    
      {{#if threads.length}}
        {{#each threads}}
          {{> thread}}
        {{/each}}
      {{else}}
        <div class="alert alert-info text-center mt-[20%] font-[600]">You have no threads!</div>
      {{/if}}
 

    <script>

      const displayFollowsPanel = () => {
        const followsPanel = document.querySelector(
          ".profile .follower-panel .overall-follow-panel"
        );
        followsPanel.style.display = "block";

        // Thêm sự kiện `click` với độ trễ ngắn để tránh ẩn panel ngay lập tức
        setTimeout(() => {
          document.addEventListener("click", handleClickOutsideFollowsPanel);
        }, 0);
      };

      function handleClickOutsideFollowsPanel(event) {
        const numberFollower = document.querySelector(
          ".profile .follower-panel .number-follower"
        );
        const followsPanel = document.querySelector(
          ".profile .follower-panel .overall-follow-panel"
        );

        if (!numberFollower.contains(event.target)) {
          followsPanel.style.display = "none";
          document.removeEventListener("click", handleClickOutsideFollowsPanel);
        }
      }

      const chooseFollower = () => {
        const listFollowerBtn = document.querySelector(
          ".column-panel .list-follower"
        );
        const listFollowingBtn = document.querySelector(
          ".column-panel .list-following"
        );
        const followers = document.querySelector(".overall-follow-panel .list-of-follower");
        const followings = document.querySelector(".overall-follow-panel .list-of-following");

        followers.style.display = "block";
        followings.style.display = "none";
        listFollowerBtn.classList.add("activated");
        listFollowingBtn.classList.remove("activated");
      };

      const chooseFollowing = () => {
        const listFollowing = document.querySelector(
          ".column-panel .list-following"
        );
        const listFollower = document.querySelector(
          ".column-panel .list-follower"
        );
        const followers = document.querySelector(".overall-follow-panel .list-of-follower");
        const followings = document.querySelector(".overall-follow-panel .list-of-following");

        followers.style.display = "none";
        followings.style.display = "block";

        listFollower.classList.remove("activated");
        listFollowing.classList.add("activated");
      };

  
      document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("modal-delete");
    const confirmDelete = document.getElementById("confirm-delete");
    const cancelDelete = document.getElementById("cancel-delete");
    let threadId = null; // Biến lưu ID của thread hiện tại

    // Gắn sự kiện click cho tất cả các SVG
    document.querySelectorAll("#delete-thread").forEach((deleteSvg, index) => {
      deleteSvg.addEventListener("click", (e) => {
        threadId = e.target.closest("[data-thread-id]").getAttribute("data-thread-id"); // Lấy threadId từ attribute
        modal.classList.remove("hidden");
      });
    });

    // Đóng modal khi nhấn "Cancel"
    cancelDelete.addEventListener("click", () => {
      modal.classList.add("hidden");
      threadId = null; // Reset lại threadId
    });

    
    // Xóa thread khi nhấn "Delete"
    confirmDelete.addEventListener("click", () => {
      //console.log(typeof threadId);
      if (threadId) {
        fetch(`http://localhost:3000/profile/delete-thread/${threadId}`, {
          method: "DELETE",
        })
          .then((response) => {
            if (response.ok) {
              modal.classList.add("hidden");
              document.querySelector(`[data-thread-id="${threadId}"]`).remove();
              const result = response.json();
              if (result.message === "You have no thread") {
                document.getElementById('threads-container').innerHTML = '<div class="alert alert-info text-center">You have no thread</div>';
              }
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("An error occurred. Please try again.");
          });
        }
      });
  });
  async function clickFollow(event) {
  const id = event.target.id;
  const response = await fetch(`http://localhost:3000/profile/follow/${id}`, {
    method: 'PUT',
  });
if (response.ok) {
  const button = event.target;

  if (button.innerHTML === 'Follow') {
    button.innerHTML = 'Following';
    button.classList.remove('text-[#F3F5F7]');
    button.classList.add('text-[#333333]');
  } else {
    button.innerHTML = 'Follow';
    button.classList.remove('text-[#333333]');
    button.classList.add('text-[#F3F5F7]');;
  }
}

}

    </script>
  </body>
