<div class=" flex flex-row py-4 border-b border-[rgba(243,245,247,0.15)] justify-center items-center">
      <div class="w-12 h-12 overflow-hidden mx-4">
        <img
        class="w-full h-full rounded-full"
         src="{{avatar}}"
         alt="Avatar"
        />
      </div>

  <div class=" flex flex-col mr-auto">
      <span class="hover:underline text-[#f3f5f7] font-bold " onclick="window.location.href = 'profile/{{username}}'">{{username}}</span>
      <span class="text-[rgb(119,119,119)] text-[15px] font-[400] ">{{fullname}}</span>
</div>
      {{#if isFollowing}}
      <button id='{{_id}}' onClick="clickFollow(event)"
        class="bg-transparent font-semibold text-[#333333] border border-[#333333] h-[36px] min-w-[104px] rounded-[0.75rem] mr-6 px-4"
      >Following</button>
      {{else}}
            <button id='{{_id}}' onClick="clickFollow(event)"
        class="bg-transparent font-semibold text-[#F3F5F7] border border-[#333333] h-[36px] min-w-[104px] rounded-[0.75rem] mr-6 px-4"
      >Follow</button>
      {{/if}}
</div>