<div class="relative flex py-4 px-6 border-b border-[#333333]" 
    {{#unless isRead}} 
      onclick="markAsRead('{{_id}}', this)"
    {{/unless}}
    data-id="{{_id}}"
>
  <img class="mr-3 w-9 h-9 rounded-full" src="{{senderAvatar}}" alt="icon" />
  <div class="flex flex-col flex-1">
    <div class="flex gap-2 text-[#f3f5f7]">
      
      <span class="hover:underline cursor-pointer" onclick="window.location.href = 'profile/{{senderName}}'">{{{formatName senderName 15}}}</span>
      <span class="text-[#777777]">{{formatTime date}}</span>
    </div>
    <p class="text-base text-[#f3f5f7]">
      {{content}}
    </p>
    
    {{#if linkThread}}
      <span>
      <a href="{{linkThread}}" class="text-blue-500">View thread</a>
      </span>
    {{/if}}
  </div>
  <div class="flex flex-col">
      <p class="delete-noti mb-[10px] cursor-pointer" onclick="deleteNoti('{{_id}}', this)">&#215;</p>
      {{#unless isRead}}
        <div class="self-center ml-auto w-2.5 h-2.5 rounded-full bg-blue-400 cursor-pointer"></div>
      {{/unless}} 
  </div>
  
</div>